{% extends 'base.html' %}
{% block content %}
    {% load static %}
        <div class="text-center">
            <h1>About me</h1>
            <p>My name is Thiago Iván González Leyes</p>
            <img src="{{ MEDIA_URL}}cv.jpg" alt="Mi Foto">
            <h3>Introduction: </h3><p>I am a Python Developer using Django, I have no experience working and I've started practicing about a month ago.</p>
            <h2>Experience</h2>
            <p><strong>Actual Ocupation: </strong>At the moment I'm studying university degree in programming and this is my fourth project. I used to have more projects but I don't consider them projects because they were all copied from Youtube</p>
            <p><strong>Work experience: </strong>I worked at a callcenter called Konecta, where I started as a receptonist in english and then I was transfered to be an agent. The time of the work was almost 2 years.</p>
            <p><strong>Technical Habilities: </strong>Python using Django Framework</p>
        </div>
{% endblock %}